In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
pricesday_1=pd.read_csv('/Users/aayushmishra/Desktop/IMCProsperity/Data/round-2-island-data-bottle/prices_round_2_day_-1.csv',delimiter=';')
pricesday0=pd.read_csv('/Users/aayushmishra/Desktop/IMCProsperity/Data/round-2-island-data-bottle/prices_round_2_day_0.csv',delimiter=';')
pricesday1=pd.read_csv('/Users/aayushmishra/Desktop/IMCProsperity/Data/round-2-island-data-bottle/prices_round_2_day_1.csv',delimiter=';')
df = pd.concat([pricesday_1,pricesday0,pricesday1], ignore_index=True)

In [16]:


df["Sun_diff"]=(df['SUNLIGHT'].diff())  
df["Orchids_diff"]=df['ORCHIDS'].diff()
df['Diff positive'] = 0
df['Diff negatuve'] = 0
condition1 = (df['SUNLIGHT'].diff() > 0) & (df['ORCHIDS'].diff() > 0)  # Condition for positive differences
condition2 = (df['SUNLIGHT'].diff() < 0) & (df['ORCHIDS'].diff() < 0)
df.loc[condition1, 'Diff positive'] = 1
df.loc[condition2, 'Diff negatuve'] = -1
df[['Diff positive','Diff negatuve']]

       Diff positive  Diff negatuve
0                  0              0
1                  0              0
2                  0              0
3                  0              0
4                  0              0
...              ...            ...
29998              0              0
29999              0              0
30000              0              0
30001              0              0
30002              1              0

[30003 rows x 2 columns]

In [21]:
# df=df[df["Diff positive"]>=1]
df1=df[df["Diff negatuve"]<=-1]
df3=df[df["Diff positive"]>=1]
df1

,timestamp,ORCHIDS,TRANSPORT_FEES,EXPORT_TARIFF,IMPORT_TARIFF,SUNLIGHT,HUMIDITY,DAY,Sun_diff,Orchids_diff,Diff positive,Diff negatuve
5,500,1200.25,1.5,9.5,-2.0,2497.1614,79.020660,-1,-0.5552,-1.50,0,-1
9,900,1204.25,1.5,9.5,-2.0,2495.0032,79.037540,-1,-0.5302,-0.50,0,-1
10,1000,1203.25,1.5,9.5,-2.0,2494.4792,79.041810,-1,-0.5240,-1.00,0,-1
11,1100,1202.75,1.5,9.5,-2.0,2493.9614,79.046100,-1,-0.5178,-0.50,0,-1
12,1200,1201.75,1.5,9.5,-2.0,2493.4500,79.050400,-1,-0.5114,-1.00,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...
29983,2998300,1048.75,0.9,9.5,-5.0,2299.9336,69.702270,1,-0.0107,-1.50,0,-1
29986,2998600,1049.75,0.9,9.5,-5.0,2299.9100,69.747826,1,-0.0063,-0.50,0,-1
29988,2998800,1048.75,0.9,9.5,-5.0,2299.9014,69.778496,1,-0.0036,-1.25,0,-1
29989,2998900,1048.25,0.9,9.5,-5.0,2299.8992,69.793920,1,-0.0022,-0.50,0,-1
29990,2999000,1045.25,0.9,9.5,-5.0,2299.8984,69.809410,1,-0.0008,-3.00,0,-1

In [22]:
df1=df1[df1["HUMIDITY"]>60]
df1=df1[df1["HUMIDITY"]<80]
df3=df3[df3["HUMIDITY"]>60]
df3=df3[df3["HUMIDITY"]<80]

In [49]:
mean1=df1["SUNLIGHT"].mode()
mean2=df3["SUNLIGHT"].mode()
print(mean1,mean2)

0    1926.1201
1    2000.0000
Name: SUNLIGHT, dtype: float64 0       1397.3058
1       1397.3254
2       1397.3406
3       1397.3966
4       1397.4110
          ...
2917    4217.3420
2918    4218.3345
2919    4218.8193
2920    4219.0195
2921    4219.1510
Name: SUNLIGHT, Length: 2922, dtype: float64

In [55]:
av=(mean1+mean2)/2
av

0       1661.71295
1       1698.66270
2              NaN
3              NaN
4              NaN
           ...
2917           NaN
2918           NaN
2919           NaN
2920           NaN
2921           NaN
Name: SUNLIGHT, Length: 2922, dtype: float64

In [37]:
df5=df[df["SUNLIGHT"]>av]
df5=df5[df["HUMIDITY"]>60 ]
df5=df5[df["HUMIDITY"]<80 ]
df5

C:\Users\varad\AppData\Local\Temp\ipykernel_17088\2629706265.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df5=df5[df["HUMIDITY"]>60 ]
C:\Users\varad\AppData\Local\Temp\ipykernel_17088\2629706265.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df5=df5[df["HUMIDITY"]<80 ]

,timestamp,ORCHIDS,TRANSPORT_FEES,EXPORT_TARIFF,IMPORT_TARIFF,SUNLIGHT,HUMIDITY,DAY,Sun_diff,Orchids_diff,Diff positive,Diff negatuve
6302,630200,1206.25,1.1,10.5,-2.4,3591.7017,79.997190,-1,-1.4345,0.00,0,0
6303,630300,1206.25,1.1,10.5,-2.4,3590.2656,79.987230,-1,-1.4361,0.00,0,0
6304,630400,1205.75,1.1,10.5,-2.4,3588.8286,79.977264,-1,-1.4370,-0.50,0,-1
6305,630500,1206.25,1.1,10.5,-2.4,3587.3900,79.967300,-1,-1.4386,0.50,0,0
6306,630600,1206.25,1.1,10.5,-2.4,3585.9502,79.957340,-1,-1.4398,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
29147,2914700,1080.25,1.0,9.5,-5.0,2964.1626,70.772390,1,-1.7664,0.50,0,0
29148,2914800,1079.75,1.0,9.5,-5.0,2962.3987,70.763470,1,-1.7639,-0.50,0,-1
29149,2914900,1080.75,1.0,9.5,-5.0,2960.6380,70.754555,1,-1.7607,1.00,0,0
29150,2915000,1080.50,1.0,9.5,-5.0,2958.8796,70.745630,1,-1.7584,-0.25,0,-1
29151,2915100,1076.75,1.0,9.5,-5.0,2957.1243,70.736700,1,-1.7553,-3.75,0,-1

In [38]:
df6=df5[df5["Orchids_diff"]>=0]
df6

,timestamp,ORCHIDS,TRANSPORT_FEES,EXPORT_TARIFF,IMPORT_TARIFF,SUNLIGHT,HUMIDITY,DAY,Sun_diff,Orchids_diff,Diff positive,Diff negatuve
6302,630200,1206.25,1.1,10.5,-2.4,3591.7017,79.997190,-1,-1.4345,0.0,0,0
6303,630300,1206.25,1.1,10.5,-2.4,3590.2656,79.987230,-1,-1.4361,0.0,0,0
6305,630500,1206.25,1.1,10.5,-2.4,3587.3900,79.967300,-1,-1.4386,0.5,0,0
6306,630600,1206.25,1.1,10.5,-2.4,3585.9502,79.957340,-1,-1.4398,0.0,0,0
6312,631200,1200.75,1.1,10.5,-2.4,3577.2854,79.897520,-1,-1.4473,1.5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
29141,2914100,1082.75,1.0,9.5,-5.0,2974.8030,70.825860,1,-1.7830,3.0,0,0
29142,2914200,1083.25,1.0,9.5,-5.0,2973.0225,70.816956,1,-1.7805,0.5,0,0
29143,2914300,1086.25,1.0,9.5,-5.0,2971.2450,70.808050,1,-1.7775,3.0,0,0
29147,2914700,1080.25,1.0,9.5,-5.0,2964.1626,70.772390,1,-1.7664,0.5,0,0
29149,2914900,1080.75,1.0,9.5,-5.0,2960.6380,70.754555,1,-1.7607,1.0,0,0

In [41]:
df7=df[df["Orchids_diff"]<0]
df7

,timestamp,ORCHIDS,TRANSPORT_FEES,EXPORT_TARIFF,IMPORT_TARIFF,SUNLIGHT,HUMIDITY,DAY,Sun_diff,Orchids_diff,Diff positive,Diff negatuve
5,500,1200.25,1.5,9.5,-2.0,2497.1614,79.02066,-1,-0.5552,-1.5,0,-1
9,900,1204.25,1.5,9.5,-2.0,2495.0032,79.03754,-1,-0.5302,-0.5,0,-1
10,1000,1203.25,1.5,9.5,-2.0,2494.4792,79.04181,-1,-0.5240,-1.0,0,-1
11,1100,1202.75,1.5,9.5,-2.0,2493.9614,79.04610,-1,-0.5178,-0.5,0,-1
12,1200,1201.75,1.5,9.5,-2.0,2493.4500,79.05040,-1,-0.5114,-1.0,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...
29994,2999400,1040.75,0.9,9.5,-5.0,2299.9097,69.87196,1,0.0049,-2.0,0,0
29996,2999600,1039.75,0.9,9.5,-5.0,2299.9238,69.90361,1,0.0078,-2.0,0,0
29997,2999700,1038.75,0.9,9.5,-5.0,2299.9330,69.91952,1,0.0092,-1.0,0,0
29998,2999800,1036.25,0.9,9.5,-5.0,2299.9436,69.93549,1,0.0106,-2.5,0,0
30001,3000100,1034.25,0.9,9.5,-5.0,2299.9840,69.98378,1,0.0150,-2.0,0,0

In [42]:
df8=df[df["Orchids_diff"]>0]
df8

,timestamp,ORCHIDS,TRANSPORT_FEES,EXPORT_TARIFF,IMPORT_TARIFF,SUNLIGHT,HUMIDITY,DAY,Sun_diff,Orchids_diff,Diff positive,Diff negatuve
1,100,1201.75,1.5,9.5,-2.0,2499.4197,79.00410,-1,-0.5803,1.75,0,0
6,600,1201.75,1.5,9.5,-2.0,2496.6125,79.02485,-1,-0.5489,1.50,0,0
7,700,1202.75,1.5,9.5,-2.0,2496.0698,79.02906,-1,-0.5427,1.00,0,0
8,800,1204.75,1.5,9.5,-2.0,2495.5334,79.03329,-1,-0.5364,2.00,0,0
18,1800,1199.25,1.5,9.5,-2.0,2490.5100,79.07664,-1,-0.4746,1.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
29981,2998100,1052.75,0.9,9.5,-5.0,2299.9563,69.67220,1,-0.0137,2.00,0,0
29984,2998400,1050.25,0.9,9.5,-5.0,2299.9243,69.71740,1,-0.0093,1.50,0,0
29987,2998700,1050.00,0.9,9.5,-5.0,2299.9050,69.76313,1,-0.0050,0.25,0,0
29995,2999500,1041.75,0.9,9.5,-5.0,2299.9160,69.88776,1,0.0063,1.00,1,0
30002,3000200,1035.25,0.9,9.5,-5.0,2300.0000,70.00000,1,0.0160,1.00,1,0

In [61]:
mean_sun=df7["SUNLIGHT"].median()
mean_sun

2496.484

In [62]:
mean_sun_neg=df8["SUNLIGHT"].median()
mean_sun_neg

2499.04075

In [63]:
av_sun=df7["SUNLIGHT"].mean()
av_sun

2772.5425464241825

In [54]:
max_sun=df8["SUNLIGHT"].max()
max_sun

4513.9854

In [64]:
df9=df[df["SUNLIGHT"]<1]

In [80]:

df10=df[df["HUMIDITY"]>60]
df10=df10[df10["HUMIDITY"]<80]
df10 = df10.reset_index(drop=True)

In [6]:
threshold = -0.04

# mean=
chnage=[]
humidity=[]
pairs = []
val3000=[]
val3000up=[]
for i in range(len(df) - 2):
    if df.loc[i, "SUNLIGHT"]>2500:
        val3000.append(df.loc[i, "SUNLIGHT"])
print(len(val3000))
for i in range(len(df) - 72):
    
    orchid_current=df.loc[i, "ORCHIDS"]
    current_value = df.loc[i, "SUNLIGHT"]
    j=i+70
        
    orchid_next=df.loc[j, "ORCHIDS"]
    compared_value = df.loc[j, "SUNLIGHT"]
    if   (orchid_next -orchid_current)/orchid_current <= threshold  :
            humidity.append(df.loc[i, "HUMIDITY"]-80)
            chnage.append((orchid_next -orchid_current)/orchid_current)
            pairs.append(df.loc[i, "SUNLIGHT"])
        
            # print(df10.loc[i, "SUNLIGHT"], df10.loc[j, "SUNLIGHT"],(orchid_next -orchid_current)/orchid_current)
 
print(chnage)            # i=j
print(humidity)
print((pairs))
for i in pairs:
    if i>2500:
        val3000up.append(i)
print(len(val3000up))

14911
[-0.0988855116514691, -0.10034392069593365, -0.10159886662618903, -0.10164000809880543, -0.10006076564715415, -0.10024301336573511, -0.10046586996151509, -0.10046586996151509, -0.10139647844565877, -0.10107135637760259, -0.09876543209876543, -0.09787234042553192, -0.09685916919959472, -0.09969604863221884, -0.10046586996151509, -0.09856012979111742, -0.09965566133279319, -0.09734333806530115, -0.0988855116514691, -0.09697707445729357, -0.09567336989640463, -0.09493799552754625, -0.09521871820956257, -0.0948118006103764, -0.09603255340793489, -0.09580960130187144, -0.09540276647681041, -0.0948118006103764, -0.09399796541200407, -0.09381359381359382, -0.09399796541200407, -0.09510262141841089, -0.0964930062842084, -0.09575978900385473, -0.09614604462474645, -0.0950253807106599, -0.09392152876600936, -0.09338758901322482, -0.09196337741607324, -0.09159373091797272, -0.092999592999593, -0.0924455304418652, -0.09224190592547343, -0.09240789741502137, -0.09261143903928354, -0.09085353432470972, -0.09148329258353709, -0.09048298349296922, -0.09018567639257294, -0.08929663608562691, -0.09003870442045223, -0.09185336048879837, -0.09144602851323828, -0.09040928527794746, -0.09081653431073101, -0.09196337741607324, -0.09277721261444558, -0.09196337741607324, -0.09235150528885272, -0.09314622737441529, -0.09395973154362416, -0.09333062220414803, -0.09000203624516392, -0.09000203624516392, -0.09155645981688708, -0.09061290979433924, -0.0912981455064194, -0.0916310323762981, -0.09161237785016287, -0.09100162866449511]
[3.4723900000000043, 3.4651599999999974, 3.4579240000000055, 3.450710000000001, 3.4435000000000002, 3.436300000000003, 3.429114999999996, 3.4219400000000064, 3.4147799999999933, 3.4076199999999943, 3.4004800000000017, 3.3933600000000013, 3.3862299999999976, 3.3791300000000035, 3.3720249999999936, 3.3649400000000043, 3.3578640000000064, 3.3508000000000067, 3.343739999999997, 3.3366999999999933, 3.329669999999993, 3.3226549999999975, 3.315650000000005, 3.3086550000000017, 3.3016700000000014, 3.294690000000003, 3.287734999999998, 3.2807849999999945, 3.273840000000007, 3.266919999999999, 3.260000000000005, 3.253105000000005, 3.246210000000005, 3.2393339999999995, 3.2324700000000064, 3.225610000000003, 3.2187650000000048, 3.2119399999999985, 3.2051199999999938, 3.1983100000000064, 3.191519999999997, 3.184740000000005, 3.177959999999999, 3.171210000000002, 3.1644699999999943, 3.157730000000001, 3.1510200000000026, 3.144300000000001, 3.137609999999995, 3.1309300000000064, 3.1242600000000067, 3.117599999999996, 3.1109540000000067, 3.1043240000000054, 3.0977100000000064, 3.0910999999999973, 3.0845099999999945, 3.077929999999995, 3.071365, 3.0648099999999943, 3.0582660000000033, 3.0517399999999952, 3.0452300000000037, 3.038730000000001, 3.0322400000000016, 3.0257639999999952, 3.019300000000001, 3.0128559999999993, 3.0064239999999955, 3.0]
[3938.5012, 3937.8748, 3937.25, 3936.6274, 3936.0066, 3935.3875, 3934.7705, 3934.1553, 3933.542, 3932.9307, 3932.3213, 3931.7139, 3931.1084, 3930.505, 3929.903, 3929.3035, 3928.7058, 3928.11, 3927.5164, 3926.9246, 3926.3347, 3925.7468, 3925.1611, 3924.5774, 3923.9956, 3923.4158, 3922.8381, 3922.2625, 3921.6887, 3921.1172, 3920.5476, 3919.98, 3919.4146, 3918.8513, 3918.29, 3917.7307, 3917.1736, 3916.6187, 3916.0657, 3915.515, 3914.966, 3914.4194, 3913.875, 3913.3328, 3912.7925, 3912.2544, 3911.7185, 3911.1848, 3910.653, 3910.1238, 3909.5964, 3909.0713, 3908.5486, 3908.0278, 3907.5093, 3906.993, 3906.479, 3905.967, 3905.4575, 3904.95, 3904.4448, 3903.942, 3903.4412, 3902.9429, 3902.4468, 3901.953, 3901.4612, 3900.972, 3900.4849, 3900.0]
70